@{
    ViewData["Title"] = "Home Page";
}

<div id="dashboard-container" class="container container-fluid">
    <div class="row">
        <div class="col col-md-4 kpi-container">
            <div class="kpi-content">
                <div class="kpi-title">
                    Ficheros
                </div>
                <div class="kpi-value">
                    12345
                </div>
            </div>
        </div>
        <div class="col col-md-4 kpi-container">
            <div class="kpi-content">
                <div class="kpi-title">
                    Notifications
                </div>
                <div class="kpi-value">
                    12345
                </div>
            </div>
        </div>
        <div class="col col-md-4 kpi-container">
            <div class="kpi-content">
                <div class="kpi-title">
                    Alerts
                </div>
                <div class="kpi-value">
                    12345
                </div>
            </div>
        </div>
    </div>
</div>